/* Info Drawer */

.title-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.title-flight {
    margin-left: 20px;
}

#label-flight-id {
    font-size: 20px;
}

#label-airline {
    font-size: 12px;
}

.drawer {
    width: 320px;
}

.btn-back {
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

.custom-card-square {
    width: 90%;
    margin: 5%;
}

.custom-table {
    border: none;
    width: 100%;
}

.table-cell {
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px; 
}

.horizontal-line {
    width: 100%;
    height: 1px;
}

.vertical-line {
    width: 1px;
    padding: 0px !important;
}

.table-container {
    width: 100% !important;
}

/* Map */

.main-layout {
    position: relative;
}

.page-content-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

#map-canvas {
    height: 100%;
}

/* Drawer */
.mdl-layout__drawer-button {
    color: #000 !important;
}

.custom-icon {
    vertical-align: middle;
    margin-right: 10px;
}

/* Navigation */

.custon-nav {
	-webkit-box-flex: 1;
   -webkit-flex-grow: 1;
   -ms-flex-positive: 1;
           flex-grow: 1;
}

/* Light */


.custon-link {
    position: relative;
    overflow: hidden;
}

.custon-link-selected { 
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #4fC3F7; 
}

.custon-link-unselected { 
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #37474F;
}

.custon-link:hover { 
    background-color: #263238 !important;
}

.mdi-large {
    font-size: 72px !important;
    color: #CFD8DC;
}

.loading-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.7;
}

.spinner-div {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.spinner-large {
    width: 100%;
    height: 100%;
}

.reconnect-text-div {
    position: relative;
    width: 100%;
    height: 100%;   
    margin-top: 52px;
}

.reconnect-text {
    position: relative;
    margin: auto auto;
    text-align: center;
}