.fab-button {
	position: absolute;
	right: 72px;
	top: -26px;
}

.custom-bottom-links {
	width: 52px;
	height: 52px;
	margin: 20px;
}

.bottom-links-container {
	margin: auto auto;
	text-align: center;
}

.custom-bottom-links > i {
	font-size: 32px;
}

.custom-ripple-container {
	width: 100%;
	height: 100%;
	position: relative;
	
}

/* image */

.logo-image-div {
	width: 240px;
	height: auto;
	margin: auto auto;	
}

.project-image-logo {
	width: 240px;
	height: auto;
	margin: auto auto;	
}

/* text */

.page-text-container {
	margin: 0 auto;
}

.page-text-container-top {
	margin-top: 52px;
	position: relative;
	padding: 48px;
}

.page-text-container-bottom {
	padding-top: 48px;
	padding-left: 72px;
	padding-right: 72px;
	padding-bottom: 72px;
	margin-bottom: 52px;
	position: relative;
}


p {
	text-align: justify;   
}
